.table-responsive {
  overflow-x: auto;
}
.w-100 {
  width: full;
}
.f-w-600 {
  font-weight: 600;
}
.f-s-14 {
  font-size: 14px;
}
.p-l-0 {
  padding-left: 0;
}
.m-l-16 {
  margin-left: 16px;
}
.m-b-4 {
  margin-bottom: 4px;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.rounded {
  border-radius: 4px;
}
.bg-light-warning {
  background-color: #fff8e1;
}
.text-warning {
  color: #ffa000;
}
.bg-light-error {
  background-color: #ffebee;
}
.text-error {
  color: #f44336;
}
.bg-light-success {
  background-color: #e8f5e9;
}
.text-success {
  color: #4caf50;
}
.p-6 {
  padding: 6px;
}
.p-y-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}
.f-s-12 {
  font-size: 12px;
}
.text-dark {
  color: #212121;
}
.f-s-16 {
  font-size: 16px;
}
.d-block {
  display: block;
}



